spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/fleetdb
    username: Admin
    password: Admin
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgresDialect
    hibernate:
      ddl-auto: update
    show-sql: false

  sql:
    init:
      mode: never

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics